.light-nav {
    display: flex;
    background-color: rgb(239, 234, 234);
    height: 70px;
}


.dark-nav {
   display: flex;
   background-color: black;
   color:aliceblue;
   height: 70px;
}

nav span{
   position: absolute;
   top: 10px;
   left: 40px;
   color: red;
   font-size: 46px;
   font-weight: 900;
   transition: all 0.5s ease-in-out;
 }

 nav span:hover{
   transform: scale(1.1);
 }


nav ul {

   display: flex;
   list-style-type: none;
   margin-left: 120px ;
}

.nav-li {
   text-decoration: none;
   color: black;
   transition: all 0.3s ease-in-out;
   margin-left: 20px;
   font-size: 18px;
}


.nav-li-dark{
   text-decoration: none;
   color: rgb(226, 221, 221);
   transition: all 0.3s ease-in-out;
   margin-left: 20px;
   font-size: 18px;
}


.nav-li-dark:hover  {
  
   color: rgb(204, 60, 60);
}

.nav-li:hover  {
  
   color: rgb(204, 60, 60);
}

.nav-form{ 
   display: flex;
   position: absolute;
   right:20px;
   top: 25px;
    
}


.nav-form input {
   background-color: rgb(247, 247, 247);
   width: 200px;
   margin-right: 10px;
   font-size: 16px;
   padding: 2px 10px;
   border: 1px solid wheat ;
   box-shadow: 2px 2px 10px black;
   border-radius: 5px;
   transition: all 0.5s ease-in;
}

.nav-form input:hover{
   transform: scale(1.05);
   box-shadow: 2px 2px 10px red;
}



.nav-form button {
   background-color: rgb(255, 255, 255);
   margin-left: 10px;
   border-radius: 5px;
   transition: all 0.5s ease-in;
   width: 100px;
   padding: 2px 5px;
   font-size: 16px;
}

.nav-form button:hover{
   transform: scale(1.05);
   box-shadow: 2px 2px 10px red;
}






@media only screen and (max-width: 800px) {
   nav ul {
      display: block;
      position: absolute;
      top: 50px;
      left: 60px;
   }


 
   
 }