.news-Component h1 {
  color: black;

}


.news {
  padding: 10px;
  width: 400px;

  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;


}


.news p {
  color: black;
}


.news span {

  font-size: large;
  color: blue;
  font-weight: 800;
}


.main-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.news img {

  width: 100%;
}